<div ng-controller="PriceListContrl" ng-init="pricelists=getAllPriceLists();">
    <div>

        <input type="text" ng-model="searchname"/><select ng-model="pricelistselect" required
                                                                              ng-options="pricelistselect as pricelistselect.name for pricelistselect in pricelists track by pricelistselect.id"
            ></select>
        <button class="btn btn-small" type="button" ng-click="search(searchname)">Zoek</button>
        <table class="table table-bordered table-hover table-condensed">
            <thead>
            <tr>
                <th>Artikelnummer
                </th>
                <th>Omschrijving
                </th>
                <th>Eenheid
                </th>
                <th>Prijs
                </th>

            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="searchitem in searchitems">
                <td><a ng-click="selectAndReturn(searchitem);">{{searchitem.itemNumber}}</a></td>
                <td>{{searchitem.name}}</td>
                <td>{{searchitem.unit}}</td>
                <td>{{searchitem.price| currency:"€"}}</td>

            </tr>
            </tbody>
        </table>
    </div>
</div>